<h1> Bonjour a tous les amis ! </h1>
<br>
<h1>Bienvenue sur notre page d'accueil de folie</h1>
<p>t'es chaud pour la suite ? allé viens :)</p>

<p>tu veux créer un utilisateur ?  <a href="<%= new_user_path%>"> c'est par ici que ça se passe</a></p>
<br>

<p>Tu veux voir notre About ? <a href="<%=about_path%>"> Allé clique ici mon pote</a></p>


<p>Tu veux nous contacter ? ? <a href="<%=contact_path%>"> Clique here madafackar</a></p>
